{% extends 'base.html' %}

{% block sidebar %}
      <!--sidebar start-->
      <aside>
          <div id="sidebar"  class="nav-collapse ">
              <!-- sidebar menu start-->
              <ul class="sidebar-menu">
                  <li>
                      <a class="" href="{% url 'pythonnav:index' %}">
                          <i class="icon-dashboard"></i>
                          <span>首页</span>
                      </a>
                  </li>
                  <li class="sub-menu active">
                      <a href="javascript:;" class="">
                          <i class="icon-book"></i>
                          <span>Python</span>
                          <span class="arrow"></span>
                      </a>
                      <ul class="sub active">
                          <li><a class="" href="{% url 'pythonnav:calendar_html' %}">学习路线</a></li>
                          <li><a class="" href="{% url 'pythonnav:buttons_html' %}">学习资源</a></li>
                          <li class="active"><a class="" href="{% url 'pythonnav:blogindex_html' %}"><i class="icon-cog"></i>技术交流</a></li>
                          <li><a href="{% url 'pythonnav:profile_html' %}"></i>我的主页</a></li>

                      </ul>
                  </li>

                  <li class="sub-menu">
                      <a href="javascript:;" class="">
                          <i class="icon-th"></i>
                          <span>成就墙</span>
                          <span class="arrow"></span>
                      </a>
                      <ul class="sub">
                          <li class=""><a class="" href="{% url 'achievement:index' %}">所有成就</a></li>
                          <li><a class="" href="{% url 'achievement:achievement' %}">今年</a></li>
                          <li><a class="" href="http://devnav.win/">更新中</a></li>
                      </ul>
                  </li>

                  <li class="sub-menu">
                      <a href="javascript:;" class="">
                          <i class="icon-tasks"></i>
                          <span>资源</span>
                          <span class="arrow"></span>
                      </a>
                      <ul class="sub">
                          <li><a class="" href="{% url 'resourcedownload:dynamic_table_html' %}">下载站</a></li>
                          <li><a class="" href="{% url 'resourcedownload:querystation_html' %}">查询站</a></li>
                          <li><a class="" href="http://devnav.win/">更新中</a></li>
                      </ul>
                  </li>
              </ul>
              <!-- sidebar menu end-->
          </div>
      </aside>
      <!--sidebar end-->
{% endblock %}

{% block maincontent %}


      <!--sidebar end-->
      <!--main content start-->
      <section id="main-content">
          <section class="wrapper">
              <!-- page start-->
              <div class="row">
                  <div class="col-lg-12" style="border-top:1px solid #000">
                      <section class="panel">
                          <header class="panel-heading">
                              问题详情
                          </header>
                          <div class="panel-body">
                              <form role="form" class="form-horizontal tasi-form">
                                  <div class="form-group has-success">

                                      <label class="col-lg-2 control-label">{{ question.question_title }}</label>

                                  </div>
                                  <div class="form-group has-error">
                                      <label class="col-lg-2 control-label" >{{ question.question_text }}</label>

                                  </div>
                                  <div class="form-group has-warning">
                                      <label class="col-lg-2 control-label">{{ question.question_author }}</label>
                                      <p class="help-block">{{ question.question_date }}</p>
                                  </div>

                              </form>

                          </div>
                      </section>
                  </div>
              </div>

              <div class="row">
                  <div class="col-lg-12" style="border-top:1px solid #000">
                      <section class="panel">
                          <header class="panel-heading">
                              解决与排查方案
                          </header>
                          <div class="panel-body">
                              <div class=" form">
                                  <form class="cmxform form-horizontal tasi-form" id="commentForm" method="post" action="{% url 'pythonnav:reply_question' %}">
                                      {% csrf_token %}
                                       <input type="hidden" name="question_id" value="{{ question.id }}">
                                      <div class="form-group ">
                                          <label for="ccomment" class="control-label col-lg-2">我的方案</label>
                                          <div class="col-lg-10">
                                              <textarea class="form-control " id="ccomment" name="question_reply_content" required></textarea>
                                          </div>
                                      </div>
                                      <div class="form-group">
                                          <div class="col-lg-offset-2 col-lg-10">
                                              <button class="btn btn-danger" type="submit">发布</button>

                                          </div>
                                      </div>
                                  </form>
                              </div>

                          </div>
                      </section>
                  </div>
              </div>
              <div class="row">
                  <div class="col-lg-12" style="border-top:1px solid #000">
                      <section class="panel">
                          <header class="panel-heading">
                              其他人的方案
                          </header>
                          {% for questionreply in questionreplys %}
                          <div class="panel-body">
                              <div class=" form">
                                  <form class="cmxform form-horizontal tasi-form" id="commentForm" method="get" action="#">

                                      <div class="form-group ">


                                          <div class="col-lg-8">
                                              <textarea class="form-control " id="ccomment" name="comment" required>{{ questionreply.question_text }}</textarea>
                                          </div>
                                          <label for="ccomment" class="control-label col-lg-2">{{ questionreply.question_author }}</label>
                                          <p class="help-block">{{ questionreply.question_date }}</p>
                                      </div>

                                  </form>
                              </div>

                          </div>
                          {% endfor %}
                      </section>
                  </div>
              </div>
              <!-- page end-->
          </section>
      </section>
      <!--main content end-->
{% endblock %}
